*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list{
      width: 80%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
}


ul li{
    list-style: none;
    line-height: 1.5em;

}

.text-style{
    text-decoration: line-through;
}


li span{
    margin-left: 1.5em;
}